body{
    background-color: #f3f3f3;
}


.text-center{
    font-family: Chivo, sans-serif;
}

.pie-heading{
    font-family: Chivo, sans-serif;
    text-align: center;
}

.w-50{
    width: 33.5%!important;
}

#circle {
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }


#labels-pie-chart{
    font-family: Chivo, sans-serif;
    padding-top: 3px;
}

.tooldiv{
    visibility:hidden;
    overflow:visible;
    position:absolute;
    height:60px;
    width:100px;
    background-color:#efefef;
    border:solid black 1px;
    border-radius:7px;
    font-family:Chivo, sans-serif;
    font-size:10px;
    pointer-events:none;;
}