body{
    background-color: #f3f3f3;
}


.text-center{
    font-family: Chivo, sans-serif;
}

.pie-heading{
    font-family: Chivo, sans-serif;
    text-align: center;
}

.w-50{
    width: 33.5%!important;
}