body{
    background-color: #f3f3f3;
}


.text-center{
    font-family: Chivo, sans-serif;
}

.pie-heading{
    font-family: Chivo, sans-serif;
    text-align: center;
}

.w-50{
    width: 33.5%!important;
}

#circle {
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }


#labels-pie-chart{
    font-family: Chivo, sans-serif;
    padding-top: 3px;
}